.App {
  text-align: center;
}

/* HEADER Styles */
.header {
  display: flex;
  justify-content: start;
  background-color: blueviolet;
  color: white;
  padding: 1em;
  font-size: 1.2em;
  align-items: baseline;
  height: 50px;
  width: 100%;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 0 0.2em;
}

.header a:first-child {
  font-size: 1.8em;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.header a:hover {
  color: lime;
  font-size: 1.3em;
}

.header a:first-child:hover {
  font-size: 1.9em;
}

.header span {
  color: lime;
}

.header a:first-child:hover span {
  color: white;
}

/* HOME Page styles */
img {
  margin: 1em;
  width: 70%;
}

.home h2 {
  font-size: 3em;
}

/* ABOUT Page styles */
.about {
  box-sizing: border-box;
  padding: 1em 4em;
  line-height: 1.5em;
  text-align: justify;
  font-size: 1.2em;
}

/* DASHBOARD Page styles */
.dashboard a{
  text-decoration: none;
}

.stocks {
  font-size: 2em;

  margin: .2em;
}

/* STOCK Page styles */
.stock {
  padding-top: 2em;
}

.stock span {
  color: green;
}
